body {
    color:blue;
    background-color:#242121;
    max-width: 1400px;
    margin: 0 auto;
}


.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:  auto;
}

.books {
    cursor: pointer;
}

.bookswrap {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 45px;
}